* {
    box-sizing: border-box;
}

.completed .task-text{
    text-decoration: line-through;
    color: gray;
}

li{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 35px;
    margin-bottom: 15px;
    
    cursor: grab;
}

.task-text{
    flex-grow: 1;
    margin-left: 15px;
    margin-right: 15px;
    word-break: break-word;
    
}
.dragging{
    opacity: 0.5;
    transform: scale(1.02);
    cursor: grab;
}

body{
    font-family: 'Caveat', cursive;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: black;
    padding-top: 50px;

}
.trash-icon{
    display: inline-block;
    transition: transform 0.2s ease;
    cursor: pointer;
    flex-shrink: 0;
}

.check{
    cursor: pointer;
    flex-shrink: 0;
    transform: scale(2);
}

.trash-icon:hover{
    transform: scale(1.2);
}

#addTask:hover{
    transform: scale(1.05);
}

ul{
    list-style-type: none;
    padding: 0; 
    margin: 0;
    width: 100%;
}



button{
    font-family: inherit;
    font-size: 40px;
    padding: 10px 15px;
    cursor: pointer;
    flex-shrink: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
}


input[type="text"] {
    font-family: inherit;
    font-size: 40px;
    padding: 10px 15px; 
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 10px;
}



.inputRow{
    display: flex;
    gap: 10px;
    align-items: center;
}

.app-card{
    background-color: white;
    width: 100%;
    max-width: 700px;
    padding: 40px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px auto; 


}

.inputRow input[type="text"], 
.inputRow button {
    height: 60px;      
    line-height: normal;
    padding: 0 15px;   
    

    box-sizing: border-box; 
}